.header-component {
    display: flex;
    margin-bottom: 10px;
    box-shadow: 0px 9px 13px rgb(0 0 0 / 5%);
    align-items: center;
    padding: 0 20px;
}

.header-component img {
    height: 50px;
    width: 50px;
}

.header-component h1 {
    font-size: 36px;
    font-weight: 700;
    color: #674836;
    margin-left: 15px;
}

.header-component p {
    color: #674836;
}

@media (min-width: 768px) {
    .header-component {
        padding: 0 50px;
    }

    .header-component img {
        height: 60px;
        width: 60px;
    }
}
